.weatherDataCont{
  background-color: #256051;
  padding: 2%;
  color:#32F7BD;
  border-radius: 15px;
}
.weatherLocation{
  border: 4px solid  #32F7BD;
  padding: 4%;
  background-color:  #202D2D;
}
h1{
  color:#32F7BD;
  text-decoration: underline #32F7BD;
}